<%- model_class = Challenge -%>
<div class="challenge-title">
  <p class="mini"><%= @challenge.description.upcase %></p>
</div>

<div class="challenge-header challengers">
  <%= image_tag 'friends.png', :class=>"header-img" %>
  <p>10 OF YOUR FRIENDS TOOK THIS CHALLENGE</p>

  <div class="people">
    <div class="person">
    </div>
    <div class="person">
    </div>
    <div class="person">
    </div>
    <div class="person">
    </div>
    <div class="person">
    </div>
    <div class="person">
    </div>
    <div class="person">
    </div>
    <div class="person">
    </div>
    <div class="person">
    </div>
    <div class="person">
    </div>
  </div>
</div>

<div class="challenge-header finishers">
  <%= image_tag 'friends.png', :class=>"header-img" %>
  <p>3 OF YOUR FRIENDS COMPLETED THIS CHALLENGE</p>

  <div class="people">
    <div class="person">
    </div>
    <div class="person">
    </div>
    <div class="person">
    </div>
  </div>
</div>
