.main{
background-color: #0080C1;
}

.store{
  background-size: 100%;
  background-image: url('/assets/store.png');
  background-repeat: no-repeat;
}

.nja-home{
  text-align: center;
}

img.nja-logo {
  margin-top: 50px;
  max-width: 300px;
}
